# Next.js
.next
out
build

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

# Uploads (user uploaded files)
public/uploads/
!public/uploads/.gitkeep